@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap");
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
}
html,
body {
  font-family: "Oswald", sans-serif;
  margin: 0 auto;
}

/*>>>>>>>>>> HEADER <<<<<<<<<<*/

.header {
  width: 100%;
  /* background-image: url("./img/Rectangle.png"); */
  background-repeat: no-repeat;
  background-position: center;
  /* background-attachment:fixed; */
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 9em;
}
.header__heading,
.header__text {
  text-align: center;
  color: #ffffff;
}
.header__heading {
  font-weight: 400;
  font-size: 3.4em;
}
.header__text {
  font-weight: 400;
  font-size: 1.2em;
  padding: 0.5em;
}
.header__box {
  width: 60%;
  padding: 2.5em 8em;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
}
.header__items {
  text-align: center;
}
.header__items > h2 {
  font-weight: 500;
  font-size: 3.4em;
  /* font-size: 64px; */
  color: #f7654a;
}
.header__items > h3 {
  font-weight: 500;
  font-size: 2.2em;
  color: #000000;
}
.header__items > p {
  font-weight: 500;
  font-size: 16px;
  color: #999999;
}

/* >>>>>>>>> MAIN <<<<<<<<< */
/*----- section-container -----*/

.main,
.main__section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
}
.main__heading {
  font-size: 2.2em;
  font-weight: 500;
  margin-bottom: 1.5em;
}
.main__heading_first {
  color: #404149;
}
.main__heading_second,
.main__heading_third {
  color: #000000;
}
.main__heading_third {
  margin-top: 1.5em;
}

.main__article {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main__article_last {
  margin-top: 2em;
}
.content-article,
.card-aticle {
  display: flex;
  flex-direction: column;
  width: 31.5%;
  /* width: 360px; */
}
.card-aticle {
  align-items: center;
  background-color: #f7f7f7;
  padding: 3.5em;
}
.content-article__line {
  width: 4em;
  height: 0.4em;
  background-color: #f7654a;
  margin: 3em 0em 1em;
}
.content-article__title {
  font-size: 1.5em;
  color: #404149;
  margin-bottom: 0.5em;
}
.content-article__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #999999;
  font-size: 1em;
}

.card-aticle__logo {
  width: 60px;
  height: 40px;
  margin-bottom: 2em;
}

.card-aticle__link {
  text-decoration: none;
  font-size: 1.5em;
  color: #000000;
  font-weight: 500;
  text-align: center;
}

/*----- request-box -----*/

.request-box {
  background-color: #f7654a;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 10em 0em 5em;
  padding: 2em 8em;
  width: 100%;
}

.request-title {
  font-size: 3.2em;
  font-weight: 600;
  color: #ffffff;
}
.request-text {
  font-size: 1.6em;
  font-weight: 600;
  color: #ffffff;
  margin-top: 0.3em;
}
.request-button {
  width: 180px;
  height: 50px;
}

/*----- footer -----*/
.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5em;
  /* margin-bottom: 2em; */
  color: #000000;
}
.footer__title {
  text-align: center;
  font-size: 2.2em;
  font-weight: 500;
  margin-bottom: 1.5em;
}
.footer__box_upper {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__item {
  width: 25%;
  /* width: 270px; */
  text-align: center;
  margin-bottom: 3.5em;
}
.footer__item > img {
  margin-bottom: 2em;
}
.footer__item > h4 {
  font-size: 1.5em;
  color: #999999;
  font-weight: 500;
  margin-bottom: 0.8em;
}
.footer__item > p {
  font-size: 1.5em;
  color: #000000;
  font-weight: 500;
  text-align: center;
}
.footer__box_lower {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #404149;
}
.footer__box_lower > p {
  font-size: 1rem;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 2em 0em;
}
